<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FocusUserMapper">
    
    <select id="getFocueUserIdByUserId" resultType="integer">
        select focusUserId from focusUser where userId = #{userId}
        and flag = 1;
    </select>

    <insert id="addFocueUser" parameterType="com.example.demo.vo.request.FocusUserRequestVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into focusUser values (null, #{userId}, #{focusUserId}, 1, now())
    </insert>

    <update id="deleteFocusUserById" parameterType="com.example.demo.vo.request.FocusUserRequestVO">
        update focusUser set flag = 0 where id = #{id}
    </update>

    <select id="getFocusUserCountByUserId" resultType="integer">
        select count(*) from focusUser where flag = 1 and userId = #{userId}
    </select>

    <select id="getFensiCountByUserId" resultType="integer">
        select count(*) from focusUser where flag = 1 and focusUserId = #{userId}
    </select>
</mapper>
